body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App,
body {
  max-width: 100svw;
}

.flex {
  display: flex;
}

.project-name-show {
  margin: 0;
  margin-bottom: 3%;
  text-align: left;
  padding: 2% 0;
  padding-left: 5%;
  background-color: #dbdad6;
  align-items: center;
}

.project-show-task {
  justify-content: space-evenly;
  max-width: 100svw;
}

.subtasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fafaf9;
  border: 0.8px solid black;
  width: 30%;
  padding-bottom: 6px;
}

.status-heading {
  margin: 10px 0px 6px 0px;
}

.task-card {
  width: calc(100% - 20px);
  margin: 4px 10px;
}

.task-details {
  text-decoration: none;
  border: 1px solid rgb(40, 39, 39);
  color: black;
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
}

.task-left-section {
  align-items: center;
  display: flex;
  padding: 6px;
}

.task-right-section > h2 {
  text-align: right;
  margin: 0px;
  width: 100%;
}

.priority {
  min-width: 8ch;
  height: 30px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.task-right-section {
  /* border-top: 1px solid grey; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin: 6px;
}

.due-date {
  margin-top: 4px;
}

.green {
  background-color: hsl(124, 100%, 80%);
}
.yellow {
  background-color: hsl(53, 100%, 80%);
}
.red {
  background-color: hsl(0, 100%, 80%);
}
